header {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 23px 9px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-device-width: 1000px) {
  header {
    height: 50px;
    width: 100%;
  }

  .icon {
    height: 30px;
    width: 30px;
  }
}
